DB_DIALECT=postgres
DB_HOST=localhost
DB_USER=koth-user
DB_PASSWORD=koth-password
DB_DATABASE=koth-data

DISCORD_TOKEN=<TOKEN>
DISCORD_GUILD_ID=<GUILD>

DISCORD_DEVELOPMENT_GUILD_ID=<DEV GUILD>

AUTH_SECRET=<TOKEN>
ADMINS=Comma Delimited List of Discord IDs
